<div class="container">
        <nav *ngIf="authService.isLoggedIn()" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Livros Usados</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link link" routerLink="/">Livros</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link link" routerLink="/meus-livros">Meus Livros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link " routerLink="/minhas-compras/" >Compras</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar Livro" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
    </form>
    <ul class="navbar-nav text-right">
     <li class="nav-item dropdown">
        <a class="nav-link" href="#" (click)="logout()" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sair
        </a>
      </li>
    </ul>
  </div>
</nav>
      <router-outlet></router-outlet>
</div>
